.homepage-box {
    background-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
}

.model-selector.container h2 {
    font-size: 24px !important;
    text-transform: uppercase;
    text-align: center;
}

.btn.choice-Model {
    height: 36px;
}

section#model-selector {
    padding-bottom: 20px;
    background: #f6f6f6;
}

@media (min-width:768px) {
    .modl-selector-wrap {
        display: flex;
        justify-content: center;
        .surcharge-list {
            margin-right: 20px;
        }
    }
}