.type-product {
  .model-selector.container {
    width: auto;
  }
  .ti-dropdown-widget-inner:before {
    display: none;
  }
  .ti-dropdown-widget {
    top: 10%;
  }
}
table.detail-parameters {
  display: none;
}
.model {
  font-size: 20px;
  margin-bottom: 20px;
}

.model-select {
  .h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
  }
}
.wheel-Position {
  input[type="checkbox"]:checked + label:before,
  input[type="radio"]:checked + label:before,
  input[type="checkbox"]:checked + label:after,
  input[type="radio"]:checked + label:after {
    display: none !important;
  }
}
.choice-model {
  margin-bottom: 20px;
}
.type-product {
  section#model-selector {
    padding-bottom: 20px;
    background: #f6f6f600;
  }
  .surcharge-list select,
  .variant-list select {
    width: 120px;
  }
  .modl-selector-wrap .surcharge-list {
    margin-right: 5px;
  }
}
.row.product-top {
  margin-top: 20px;
}
.p-detail-inner-header h1 {
  margin-top: 0;
  display: inline-block;
}
.p-detail-info {
  margin-bottom: 40px;
}
.parameter-wrap {
  background: #f6f6f6;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
  .order {
    background: gold;
    /* width: fit-content; */
    padding: 13px;
    text-align: center;
    width: 50px;
    height: 50px;
    color: black;
    font-size: 20px;
    font-weight: 600;
  }
  .h4.variant.name {
    position: absolute;
    left: 75px;
    top: 15px;
    font-size: 20px;
    color: black;
  }
}

.base-config h5.variant.name {
  position: absolute;
  top: 23px;
  left: 80px;
}

.upsale-buttons.boxs {
  position: relative;
}
.options-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .button.option-button {
    width: 50px;
    height: 50px;
    margin: 5px;
    position: relative;
    border: 2px solid transparent;
    img {
      overflow: hidden;
      border-radius: 50%;
    }
    cursor: pointer;
    @media (max-width: 768px) {
      width: 29%;
      height: auto;
    }
    .text {
      position: absolute;
      background: #333;
      color: white;
      bottom: 55px;
      text-align: center;
      font-size: 10px;
      display: none;
      width: 150px;
      z-index: 500;
      transform: translateX(-30%);
    }
    &:hover {
      .text {
        display: block;
      }
    }
    &.active {
      border: 3px solid green;
      border-radius: 50%;
    }
  }
}
span.quantity {
  display: none;
}
.btn.button-more {
  width: 100%;
  margin-bottom: 20px;
  background: #f6f6f6;
  color: black;
  border-color: white;
}

.pop-ower {
  display: none;
  background: rgba(0, 0, 0, 0.16);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 10000;
}

.pop-up-options {
  background: white;
  padding: 50px;
  width: 80%;
  margin: auto;
  top: 20%;
  position: relative;
}

.col-xs-12.col-lg-6.p-info-wrapper {
  position: inherit;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 30px;
  color: black;
  transform: rotate(45deg);
  cursor: pointer;
}

.navidation-Wrap {
  display: flex;
  margin-bottom: 10px;
  .navigatte-button {
    background: #dde2e7;
    margin-left: 2px;
    padding: 2px 7px;
    &.active {
      background: antiquewhite;
    }
  }
}

.upsale-wrap {
  display: none;
  &.active {
    display: block;
  }
}
.upsale-Banner {
  display: flex;
  order: 4;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  .upsale-buttons {
    display: flex;
  }
  .upsale-button {
    position: relative;
    margin: 5px;
    cursor: pointer;
    .save,
    .price,
    .text {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      top: 30%;
      padding: 5px;
      color: white;
    }
    .price {
      top: 50%;
    }
    .save {
      top: unset !important;
      bottom: 0;
    }
  }
  &.showConf {
    overflow: unset;
    .box-config {
      right: 0;
      left: 0;
      transition: 1s;
      padding-bottom: 50px;
    }
  }
  .box-config {
    position: absolute;
    top: 0;
    left: 1500px;
    right: -1500px;
    background: #fff;
    z-index: 500;
    transition: 1s;
    .label {
      font-size: 20px;
      text-align: center;
      color: black;
    }
    .parameter-wrap {
      display: flex;
    }
    h5.variant.name {
      width: 110px;
      font-size: 13px;
      text-align: left;
    }
  }
  .upsale-Banner {
    overflow: hidden;
  }
  .order {
    display: none;
  }
  .close-btn {
    position: absolute;
    right: 10px;
    top: -17px;
    font-size: 44px;
    color: #000;
    transform: rotate(0deg);
    cursor: pointer;
  }
  .close-btn.return {
    top: unset;
    bottom: 5px;
    font-size: 20px;
    padding: 5px 10px;
    background: green;
    color: white;
  }

  .countdown-wrap .label {
    font-size: 15px;
    text-align: center;
    margin: 10px 0;
  }
}
// .parameter-wrap {
//     display: none;
//     &.active {
//         display: block;
//     }
// }
.navigatte-button {
  background-size: cover !important;
}

.navigatte-button.class1.barva.parameterNav4 {
  background-image: url(https://677818.myshoptet.com/user/documents/upload/assets/plus.png);
}

.parameter-wrap.parameter-cars {
  h5 {
    text-align: center;
    font-size: 20px;
    color: black;
  }
  .parameter-cars.wheel-Position {
    text-align: center;
  }
  .can-toggle.demo-rebrand-1 label {
    &:before,
    &:after {
      display: none;
    }
  }
}

.type-detail .ti-dropdown-widget {
  height: auto;
}

.parameter-wrap.upsale {
  text-align: center;
}

.parameter-wrap h5 {
  text-align: center;
  font-size: 20px;
  color: #000;
  margin-top: 0;
}

.image-wrap {
  max-width: 200px;
  margin: 30px auto 10px;
}

.button-wrap {
  display: flex;
  flex-direction: column;
}

.parameter-wrap {
  .btn.close,
  .btn.upsale {
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
    width: -webkit-fill-available;
  }
  .btn.close {
    background: #e0e4e9;
  }
  .btn.upsale {
    background: green;
    color: white;
  }
}

.position-wrap.parameter-cars.active {
  .parameter-cars.wheel-Position {
    display: flex;
    justify-content: flex-start;
    .label.wheel {
      padding: 8px 20px;
      margin: 0;
    }
  }
}

// table.detail-parameters {
//   display: none;
// }

.upsale-text {
  margin-bottom: 20px;
}

.basic-description {
  .section.section-full.bg-custom.full-width {
    padding: 50px 0;
  }
  .text-with-icons__item.snap-center {
    padding: 10px;
    width: 100%;
  }
  & > h3 {
    display: none;
  }
  h3 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    margin-block: 50px;
  }
  h2.h3 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-block: 50px;
  }
  img.image-icon {
    width: 60px;
  }
  p.h6 {
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
  }
  .twentytwenty-wrap {
    padding: 50px 0;
  }
  @media (min-width: 768px) {
    .text-with-icons {
      display: flex;
    }
    .twentytwenty-wrap {
      display: flex;
    }
    .twentytwenty-wrapper.twentytwenty-horizontal {
      width: 70%;
      border-radius: 10px;
      overflow: hidden;
    }
    .section-info {
      width: 30%;
    }
  }
  .layers-info {
    position: relative;
  }
  .layers-text {
    h2.h2 {
      font-size: 25px;
      font-weight: 600;
    }
    p {
      max-width: 300px;
    }
  }
  .section.section-full.bg-custom.icons-package {
    padding: 30px;
    margin: 0 -20px;
    text-align: center;
    p.h5 {
      width: 100%;
      margin: 10px auto;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  .timeline__slider {
    align-items: start;
    display: grid;
    margin-bottom: 50px;
  }
  .timeline__slider > * {
    grid-area: 1 / -1;
  }
  .timeline__nav-bar {
    width: 100%;
    height: 2px;
    background-color: #6d6d6d1f;
    position: absolute;
    top: 3px;
  }
  .timeline__nav-item {
    gap: 0.75rem;
    max-width: 200px;
    min-width: 100px;
    align-content: flex-start;
    padding-inline-end: 1.25rem;
    display: grid;
    position: relative;
    background: transparent;
    border: none;
    text-align: left;
  }
  .timeline__nav-item:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border-width: 2px;
    margin-block-start: calc((1.25rem / 2) * -1);
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    border: 2px solid #6d6d6d1f;
  }
  .timeline__nav {
    grid: auto / repeat(6, minmax(0, 1fr));
    width: max-content;
    min-width: 100%;
    display: grid;
  }
  .relative.w-full {
    position: relative;
  }
  .circle-button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    place-items: center;
    transition: opacity 0.15s ease-in;
    display: grid;
    background-color: transparent;
    border: 1px solid rgba(109, 109, 109, 0.1215686275);
  }
  .timeline__buttons {
    gap: 1rem;
    margin-block-start: calc(1.5rem * -1);
    display: flex;
  }
  .ring {
    box-shadow: 0 0 0 1px #6d6d6d1f;
  }
  button.circle-button.ring.group:before {
    content: "\e910";
    speak: none;
    display: inline-block;
    font-family: shoptet;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 0;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    top: 14px;
    right: -2px;
    position: relative;
  }
  button.circle-button.ring.group[is="prev-button"] {
    transform: rotate(180deg);
  }
  button.timeline__nav-item.active::before {
    background-color: gray;
  }
  .timeline__slide {
    gap: 1.5rem;
    text-align: center;
    grid-template-columns: minmax(0, 1fr);
    align-items: start;
    display: grid;
  }
  .layers-info {
    padding-bottom: 100px;
  }
  .content-over-media.aspect-video.shadow-block.rounded-lg.text-custom {
    position: relative;
    margin-top: 50px;
  }
  button.video-play-button {
    background: transparent;
    border: none;
  }
  svg.icon.icon-play-button {
    color: white;
  }

  .section.section-blends.section-dubble.section-full {
    margin-top: 50px;
    .prose.break-all.place-self-center-start.text-start,
    .prose.break-all.place-self-center-end {
      margin: 30px 20px;
    }
    .media-with-text__content.bg-custom.text-custom {
      background-color: white !important;
    }
    img {
      border: none;
      border-radius: 0;
    }

    .text-gradient {
      color: unset !important;
    }
  }

  span.quantity {
    display: none;
  }

  @media screen and (min-width: 700px) {
    .timeline__controls {
      --timeline-dot-size: 1.25rem;
      --timeline-dot-padding-inline-end: 1.25rem;
    }
    .layers-text {
      position: absolute;
      bottom: 0px;
    }
  }
  @media screen and (min-width: 1000px) {
    .timeline__slide > .timeline__image-wrapper {
      padding-inline-end: 16.5%;
    }
    .timeline__slide > .prose {
      z-index: 1;
      padding-inline-start: 0;
      padding-inline-end: 0;
      position: relative;
    }
    .timeline__slide {
      text-align: left;
      grid: auto / repeat(2, minmax(0, 1fr));
      gap: 0;
    }
    .timeline__nav {
      width: 100%;
      min-width: auto;
      padding-block-start: 0;
    }
    .timeline__controls {
      align-items: flex-start;
      gap: 2.5rem;
      display: flex;
    }
    .media-with-text__item {
      display: flex;
      flex-direction: row;
    }
    .media-with-text__content.bg-custom.text-custom {
      width: 50%;
    }
    .media-with-text__media {
      width: 50%;
    }
    .section.section-blends.section-dubble.section-full {
      position: relative;
      top: 0;
      left: 50%;
      width: 100vw;
      height: auto;
      transform: translateX(-50%);
    }
    .prose.break-all.place-self-center-end.text-end {
      text-align: right;
    }
  }
  @media screen and (max-width: 768px) {
    .timeline__buttons.md-max\:hidden {
      display: none;
    }
    .timeline__controls.scroll-area.bleed.md\:unbleed {
      overflow: scroll;
      padding: 10px 0;
    }
  }
}
div#description p span.text-gradient {
  color: transparent !important;
}
.upsale-text,
.banner-wrap.upsale {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 10px;
  color: white;
  border-radius: 10px;
  .heder.h2,
  h3 {
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: 30px;
  }
  .btn.button.upsale,
  a.btn {
    color: white;
    margin: auto;
    display: block;
    width: max-content;
    margin-bottom: 20px;
  }
  .prefix {
    position: absolute;
    right: 10px;
    top: 8px;
  }
  p {
    width: 60%;
    text-align: left !important;
  }
}

.thumbnails-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .thumbnail-image {
    width: 50%;
    padding: 5px;
    img {
      border-radius: 10px;
    }
  }
}

.p-thumbnails-wrapper {
  display: none;
}

.col-xs-12.col-lg-6.p-image-wrapper {
  div#wrap {
    border-radius: 10px;
    overflow: hidden;
  }
  a.yelowText {
    display: none;
  }
}

.ti-dropdown-widget-inner {
  .h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
  }
  .description {
    margin-bottom: 10px;
  }
  .button.btn {
    width: fit-content;
    margin: auto;
    margin-bottom: 23px;
  }
  .prefix {
    font-size: 10px;
  }
}
.ti-widget-container.upsale {
  overflow: auto;
}

.col-xs-12.col-lg-6.p-info-wrapper {
  display: flex;
  flex-direction: column;
  section#model-selector {
    order: 1;
  }
  table.detail-parameters {
    order: 2;
  }
  .content-wrap {
    order: 3;
  }
  .upsale-text {
    order: 4;
  }
  .p-final-price-wrapper {
    order: 5;
  }
  .upsale-wrap {
    order: 5;
  }
  .availability-value {
    order: 6;
  }
  .add-to-cart {
    order: 7;
  }
  .NoteDiv {
    order: 8;
  }
  .p-short-description {
    order: 9;
  }
  p[data-testid="productCardDescr"] {
    order: 10;
  }
  .social-buttons-wrapper {
    order: 11;
  }
}

div#description {
  p span {
    color: black !important;
  }
}
.upsale-button.active {
  img {
    border-color: green;
  }
}
.upsale-buttons.boxs,
.upsale-buttons.trunk {
  min-height: 150px;
  transition: 1s;

  .upsale-button.\30,
  .upsale-button.config,
  .upsale-button.radio {
    max-height: 500px;
    transition: 1s;
  }
}
.upsale-buttons.boxs.minimalize,
.upsale-buttons.trunk.minimalize {
  background: #80808024;
  min-height: 40px;
  transition: 1s;
  .upsale-button.\30,
  .upsale-button.config,
  .upsale-button.radio,
  .upsale-button.none {
    visibility: hidden;
    width: 0;
    .text {
      color: transparent;
    }
    .save {
      display: none;
    }
    .price {
      color: black;
      top: 0%;
      text-align: right;
    }
  }
  .upsale-button.\30,
  .upsale-button.config,
  .upsale-button.none,
  .upsale-button.radio {
    max-height: 75px;
    transition: 1s;
    margin: 0;
  }
  .upsale-button.\30.active,
  .upsale-button.none.active,
  .upsale-button.config.active,
  .upsale-button.radio.active {
    display: flex;
    width: 100%;
    color: black;
    margin: 5px;

    visibility: visible;
    // img {
    //   display: none;
    // }
    .text {
      position: static;
      text-align: left;
      color: #000;
      font-size: 16px;
      padding: 24px 10px;
    }
    .price {
      font-size: 16px;
      padding: 25px 10px;
    }
    img {
      border-color: transparent;
      width: 60px;
    }
  }
}

.box-config {
  .image-wrap {
    display: none;
  }
}
.basic-description .section.section-blends.section-dubble.section-full {
  .media-with-text__content.bg-custom.text-custom {
    display: flex;
    align-content: center;
    align-items: center;
  }
}
@media (min-width: 1500px) {
  .basic-description .section.section-blends.section-dubble.section-full {
    p.h2 span {
      font-size: 30px;
    }
    p {
      font-size: 17px !important;
    }
  }
}

@media (min-width: 1800px) {
  .basic-description .section.section-blends.section-dubble.section-full {
    p.h2 span {
      font-size: 35px;
    }
    p {
      font-size: 20px !important;
    }
  }
}
