// debug
$debug: false;
/// typografy
$font-size-baze: 100%;
$font-family-sans: montserrat,
sans-serif;
$font-family-serif: big caslon,
georgia,
serif;
/// colors
$color-text: white;
$colors-background: #70e1ff;
$colors-textmenu: white;